<div
  class="tx-environments-list"
  role="listbox"
  aria-label="Environments"
  (keydown)="handleListKeydown($event)"
>
  @for (env of store.visibleEnvironments(); track env.id) {
    <div
      class="tx-environments-list__item"
      [attr.data-env-id]="env.id"
      [attr.data-flip-id]="env.id"
      [class.is-just-moved]="isJustMoved(env.id)"
      [txDraggable]="env"
      [txDraggableDisabled]="dragDisabled() || renamingId() === env.id"
      [txDraggablePreview]="dragPreview"
      [txDraggableScrollContainer]="dnd.scrollContainer()"
      (dragStarted)="handleDragStarted($event)"
      (dragMoved)="handleDragMoved($event)"
      (dragEnded)="handleDragEnded($event)"
    >
      <tx-environments-list-item
        [environment]="env"
        [active]="isTabActive(env.id)"
        [selected]="store.isSelected(env.id)"
        [renaming]="renamingId() === env.id"
        (select)="handleSelect($event.id, $event.event)"
        (shift)="handleReorder(env.id, $event.direction)"
        (menu)="itemMenu.emit($event)"
        (renameStart)="renameStart.emit($event)"
        (renameInput)="renameInput.emit($event)"
        (renameKey)="renameKey.emit($event)"
        (renameBlur)="renameBlur.emit()"
      />
    </div>
  }
</div>

<ng-template #dragPreview let-env>
  <div class="tx-environments-preview">
    <span class="tx-environments-preview__icon" aria-hidden="true">
      <svg width="14" height="14" viewBox="0 0 24 24">
        <path
          d="M8 4H7a2 2 0 0 0-2 2v3a2 2 0 0 1-2 2 2 2 0 0 1 2 2v3a2 2 0 0 0 2 2h1M16 4h1a2 2 0 0 1 2 2v3a2 2 0 0 0 2 2 2 2 0 0 0-2 2v3a2 2 0 0 1-2 2h-1"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
    <span class="tx-environments-preview__name">{{ env.name }}</span>
    @if (dragCount() > 1) {
      <span class="tx-environments-preview__badge">{{ dragCount() }}</span>
    } @else {
      <span class="tx-environments-preview__count">{{ store.variableCount(env) }}</span>
    }
  </div>
</ng-template>
